@use "../../style/abstracts/mixins.scss";

.slideshow {
    position: relative;
    width: 100%;
    height: 415px;
    overflow: hidden;
    border-radius: 25px;

    &__container {
        display: flex; 
        height: 100%;
        width: 100%;
        transition: transform 0.5s ease-in-out; 
    }
    &__image {
        min-width: 100%;
        height: 415px;
        object-fit: cover;
    }
    &__arrow {
        position: absolute;
        top: 45%;
        cursor: pointer;

        &--left {
            left: 10px;
        }
        &--right {
            right: 10px;
        }
    }
    &__counter {
        position: absolute;
        bottom: 20px;
        right: 50%;
        font-size: 18px;
        font-weight: 500;
        color: white;

    }

    @include mixins.mobile-responsive {
        height: 255px;

        &__image {
            height: 255px;
        }
        &__arrow {
            height: 24px;
        }
            &__counter {
                display: none;
            }
    }
}