.slideshow {
    position: relative;
    width: 100%;
    height: 415px;
    overflow: hidden;

    &__image {
        width: 100%;
        height: 415px;
        object-fit: cover;
    }
    &__arrow {
        position: absolute;
        top: 45%;

        &--left {
        left: 10px;
        }
        &--right {
            right: 10px;
        }
    }
    &__counter {
        position: absolute;
        bottom: 20px;
        right: 50%;
        font-size: 18px;
        font-weight: 500;
        color: white;
    }
}