@use "../../style/abstracts/mixins.scss";

.rating {
    @include mixins.flexEndCenter;
    gap: 5px;
    height: 36px;
    width: 196px;

    &__star {
        height: 24px;
    }

    @include mixins.mobile-responsive {
      justify-content: flex-start;
      gap: 0px;
      &__star {
      height: 18px;
        }
    }
}