@use "../../style/abstracts/variables.scss";
@use "../../style/abstracts/mixins.scss";

.layout-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    width: 100%;
    max-width: variables.$layout-max-width;
    margin: 0 auto;

    @include mixins.mobile-responsive {
        padding: 0px 22px;
    }
}