@use "../../style/abstracts/mixins.scss";

.card {
    display: block;
    position: relative;
    width: 100%;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;

    &__cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
    }
    &__title {
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        @include mixins.mediumTextBold;
        padding: 0px 20px;
    }
    
    @include mixins.mobile-responsive {
        height: 255px;
    }
}