@use "../../style/abstracts/variables.scss";
@use "../../style/abstracts/mixins.scss";

.host {
    @include mixins.flexEndCenter;
    gap: 10px;

    &__name {
        font-size: 18px;
        font-weight: 500;
        color: variables.$primary-color;
        text-align: right;
        width: min-content;
    }
    &__picture {
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
    }
    @include mixins.mobile-responsive {
        &__name {
            font-size: 12px;
        }
        &__picture {
            height: 32px;
        }
    }
}