@use "../../style/abstracts/variables.scss";
@use "../../style/abstracts/mixins.scss";

.collapse {
    width: 82%;

    &__header {
        @include mixins.flexBetween;
        background-color: variables.$primary-color;
        border-radius: 5px;
        padding: 0 15px;
        height: 52px;
    }
        &__title {
                color: #FFFFFF;
            }
        &__button {
            background-color: variables.$primary-color;
            border: none;
        }
        &__arrow {
            transition-property: transform;
            transition-duration: 0.4s;
        }
            &__arrow.rotate {
            transform: rotate(180deg);
            }
    &__content {
        display: none;
    }
        &__content.show {
        display: block;
        background-color: #F6F6F6;
        border-radius: 5px;
        padding: 5px 20px;
        font-size: 18px;
        font-weight: 00;
        letter-spacing: 0.5px;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 18px 0px;
            }
        }
    
    @include mixins.mobile-responsive {
        width: 100%;

        &__content.show {
            @include mixins.smallText;
        }
    }
}

.collapse-about {
    .collapse__title {
        font-size: 24px;
        font-weight: 700;
    }
    @include mixins.mobile-responsive {
        .collapse__title {
            font-size: 18px;
        }   
    }
}
.collapse-logement {
    .collapse__title {
        @include mixins.mediumTextBold;
    }
    @include mixins.mobile-responsive {
        .collapse__header {
        height:30px;
        padding: 0 5px;
            .collapse__title {
                font-size: 13px;
            }
            .collapse__button {
                height: 16px;
                .collapse__arrow {
                    height: 100%;
                }
            }
        }
    }
}
