@use "../../style/abstracts/mixins.scss";

.banner {
    position: relative;
    width: 100%;
    margin-top: 45px;
    
    img {
        @include mixins.bannerImgAndOverlay;
        object-fit: cover;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    .banner__overlay {
        @include mixins.bannerImgAndOverlay;
        position: absolute;
        top: 0;
    }
    .banner__text {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        color: white;
        font-size: 48px;
        font-weight: 700;
        text-shadow: 0px 4px 4px 0px #00000040;
    }

        @include mixins.mobile-responsive {
            img{
                height: 111px;
            }
             .banner__overlay {
                height: 111px;
            }
            .banner__text {
                font-size: 24px;
                padding: 15px;
                text-align: left;
            }
        }
}